{% extends "./base.html" %}

{% block title%} EDITAR CONTACTO {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>EDITAR CONTACTO</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarContacto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCedula" name="txtCedula" value="{{contacto.cedula}}" class="form-control" placeholder="Cédula"
                            minlength="10" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{contacto.nombre}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido" name="txtApellido" value="{{contacto.apellido}}" class="form-control" placeholder="Apellido"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtCorreo" name="txtCorreo" value="{{contacto.correo}}" class="form-control" placeholder="Correo Electronico"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTelefono" name="txtTelefono" value="{{contacto.telefono}}" class="form-control" placeholder="Numero de Telefono"
                            maxlength="10" required>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar Contacto</button>
                    </div>

                    
                </form>
            </div>
        </div> 
    </div>
</div>
{% endblock %}