{% extends "./base.html" %}

{% block title%} GESTION DE CONTACTOS {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
       
        <h2>AGREGAR CONTACTO</h2>
        <div class="card">
            <div class="card-body">
                <form action="/alexander/registrarContacto/" method="POST">{% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" id="txtCedula" name="txtCedula" class="form-control" placeholder="Cédula"
                            minlength="10" maxlength="10" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido"
                            maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtCorreo" name="txtCorreo" class="form-control" placeholder="Correo Electronico"
                            maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Numero de Telefono"
                            maxlength="10" required>
                    </div>
                    
                    <div class="form-group py-4" >
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar CONTACTO</button>
                    </div>
                </form>
            </div>
        </div>    
    </div>

   
     



    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <h1 align="center">LISTA DE CONTACTOS</h1>
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in contactos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{c.cedula}}</td>
                    <td>{{c.nombre}}</td>
                    <td>{{c.apellido}}</td>
                    <td>{{c.correo}}</td>
                    <td>{{c.telefono}}</td>
                    <td><a href="alexander/edicionContacto/{{c.cedula}}" class="btn btn-info">Editar</a></td>
                    <td><a href="alexander/eliminarContacto/{{c.cedula}}" class="btn btn-danger btnEliminacion">Eliminar</a></td> 
                </tr>
                {% endfor %}
            </tbody>
         </table>   
        </div>
    </div>
    

</div>
{% endblock %}